// Color
$yellow: 		#FFC20E;
$white: 		#FFFFFF;
$gray2: 		#C4C4C4;
$gray3: 		#828282;
$gray4: 		#656565;
$gray5: 		#F3F4F6;
$gray6: 		#F2F2F2;
$gray7: 		#E4E4E4;
$gray8: 		#DADADA;
$gray9: 		#FAFAFA;
$gray10: 		#E5E5E5;
$gray10: 		#EFEFEF;
$gray11: 		#757575;
$gray12: 		#F5F6F7;
$gray13: 		#767676;
$gray14:    #F7F8FA;
$gray15:    #B0B0B0;
$gray16:    #F9F9F9;
$black: 		#333333;
$dark: 			#000000;
$black2: 		#232222;
$black3: 		#C2C3C8;
$black4: 		#4F4F4F;
$black5:    #122834;
$black6:    #242424;
$gray-light:#E0E0E0;
$gray-text: #BDBDBD;
$blue: 			#56CCF2;
$blue-dark: #1C313E;
$blue2: 		#0094FF;
$blue3:     #48C8F5;
$blue4:     #16B4DE;
$green: 		#388E3C;
$green2:    #6FCF97;
$red: 			#EB5757;
$primary:   #3682DB;
$success:   #BF360C;
$text-white: #ffffff;
$color-black: #2C2C2C;
$color-6D6D6D: #6D6D6D;


