@use 'page-general';
@use 'home-page';

.travelGuide{
    &--list{
        >li{
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
    }
    &--item{
        display: flex;
        &--thumb{
            width: 300px;
            .images{
                height: 175px;
                >img{
                    @include border-5;
                }
            }
        }
        &--info{
            width: calc(100% - 300px);
            padding-left: 30px;
            display: flex;
            flex-direction: column;
        }
        &--title{
            margin-bottom: 10px;
            >a{
                font-size: 20px;
                font-weight: 900;
                color: $color-black;
            }
            &:hover{
                >a{
                    color: $primary;
                }
            }
        }
        &--desc{
            text-align: justify;
        }
    }
}
.meta{
    &--item{
        display: inline-block;
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
        >span{
            color: #707070;
        }
    }
    
    &--icon{
        margin-right: 5px;
    }
}
.group-btn-link{
    text-align: right;
    margin-top: auto;
    .btn-link{
        color: $primary;
    }
}

// chitiet_camnangdulich
.color-red{
    color: $success !important;
}

.travelGuide--left{
    &--list{
        margin-bottom: 60px;
        padding-bottom: 60px;
        border-bottom: 1px dashed #BDBDBD;
    }
    &--item{
        margin-top: 20px;
        .title{
            margin-bottom: 10px;
        }
        .img-thumb{
            margin-bottom: 15px;
        }
    }
}
.newsHot{
    display: flex;
    &--thumb{
        width: 125px;
        .images{
            height: 80px;
            >img{
                @include border-5;
            }
        }
    }
    &--info{
        width: calc(100% - 125px);
        padding-left: 15px;
        &--title{
            text-align: justify;
            margin-bottom: 5px;
            >a{
                color: $color-black;
            }
            &:hover{
                >a{
                    color: $primary;
                }
            }
        }
    }
}
.wrapper--newsHot{
    >li:not(:last-child){
        border-bottom: 1px dashed #BDBDBD;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
}
.panel-heading2{
    margin-bottom: 30px;
    .heading-2{
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
        position: relative;
        padding-left: 15px;
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background: $success;
        }
    }
}

.otherNews{
    &--list{
        >li{
            margin-bottom: 5px;
        }
    }
    
    &--item{
        display: block;
        color: $color-black;
        font-size: 16px;
        position: relative;
        padding-left: 10px;
        &::before{
            position: absolute;
            content: '\f111';
            display: block;
            top: 7px;
            left: 0;
            color: $success;
            font-size: 5px;
            font-weight: 900;
            font-family: 'Font Awesome 5 Free';
        }
    }
}