@use 'page-general';

@mixin boxshadow {
    background: $text-white;
    box-shadow: 0px 0px 6px #00000010;
}
@mixin line1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@mixin line2 {
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.pannel--head--general{
    .heading-1{
        font-size: 24px;
        color: $color-black;
        text-align: center;
        font-weight: bold;
        position: relative;
        padding-bottom: 15px;
        text-transform: uppercase;
        &::before{
            position: absolute;
            display: block;
            content: '';
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            width: 100px;
            height: 3px;
            background: $success;
            
        }
    }
}

.panel--header--general{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name--seasonal--tour{
    font-size: 18px;
    font-weight: bold;
    color: $color-black;
    text-transform: uppercase;
}
.btn-seeMore{
    display: inline-block;
    color: $color-black;
    font-size: 16px;
    &:hover{
        color: $success;
    }
   
}
.seasonal--tour{
    &--item{
        @include border-5;
        overflow: hidden;
        margin-bottom: 30px;
        &__boxshadow {
            @include boxshadow;
        }
        .img-thumb{
            border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            -ms-border-radius: 5px 5px 0 0;
            -o-border-radius: 5px 5px 0 0;
            overflow: hidden;
            .images{
                height: 220px;
                backface-visibility: hidden;
                transition: all 0.4s ease-out;
                transform: scale(1.15, 1.15);
            }
        }
        &:hover{
            .images{
                transform: scale(1, 1);
                opacity: 1;
                @include border-5;
            }
            .title{
                color: $primary ;
            }
        }
    }
    
    &--info{
        padding: 20px;
        .title{
            font-size: 16px;
            font-weight: bold;
            color: $color-black;
            transition: .4s;
            -webkit-transition: .4s;
            -moz-transition: .4s;
            -ms-transition: .4s;
            -o-transition: .4s;
            margin-bottom: 10px;
            @include line2;
        }
        
    }
}

.box-meta{
    .info-item{
        margin-bottom: 5px;
        >span{
            font-size: 15px;
            color: $color-black;
        }
        .icon{
            display: inline-block;
            margin-right: 10px;
        }
    }
    .price-old{
        text-decoration: line-through;
        color: #828282 !important;
    }
    .price-new{
        font-size: 18px !important;
        font-weight: bold;
        color: $success !important;
        margin-right: 5px;
    }
}
.mb-50_hp{
    margin-bottom: 50px;
}

.attractive{
    &--item{
        position: relative;
    }
    &--thumb{
        height: 220px;
        @include border-5;
    }
    &--info{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 20px;
        background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
        &--title{
            font-size: 14px;
            font-weight: bold;
            color: $text-white;
            text-transform: uppercase;
        }
        &--meta{
            font-size: 12px;
            color: $text-white;
            &--view{
                color: $success !important;
                font-weight: bold !important;
                font-size: 16px;
            }
        }
    }
}

.slogan--info--nameCompany__font{
    font-size: 24px;
    color: $text-white;
}
.slogan--info--desc__font{
    font-size: 16px;
    color: $text-white;
}
.slogan{
    &--group{
        position: relative;
        background-image: url("images/img-change/bg-travel.png");
        height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &--info{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            -webkit-transform: translate(-50% , -50%);
            -moz-transform: translate(-50% , -50%);
            -ms-transform: translate(-50% , -50%);
            -o-transform: translate(-50% , -50%);
            &--item{
                text-align: center;
            }
        }
    }
}
.shareTourTravel{
    padding: 50px 0;
    &--list{
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: auto auto auto auto auto;
    }
    &--item{
        margin-bottom: 20px;
    }
}
.customerReviews{
    &--item{
        &--group{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            &__align{
                margin-bottom: 20px;
            }
        }
    }
    &--thumb{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        >img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    &--info{
        width: calc(100% - 75px);
        &__color{
            color: #000000;
        }
        &--name{
            font-weight: bold;
            margin-bottom: 5px;
        }
        &--desc{
            font-size: 14px;
            font-style: italic;
        }
        &--add{
            color: #828282;
            .icon{
                margin-right: 5px;
            }
        }
    }
    &--desc{
        position: relative;
        &--content{
            color: #000000;
            font-style: italic;
            background: #EBEBEB;
            padding: 20px;
            @include border-5;
            min-height: 125px;
        }
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: -10px;
            left: 20px;
            background-image: url('images/icon/Polygon.png');
            height: 16px;
            width: 19px;
        }
    }
}
.review-button{
    background-image: none;
    outline: 0;
    background-color: #000;
    width: 34px;
    line-height: 42px;
    text-align: center;
    >i{
        font-size: 18px;
        color: $text-white;
    }
}
.partner-swiper .swiper-slide{
    margin: auto;
}
.season--item{
    position: relative;
    &--thumb{
        .images{
            height: 120px;
            position: relative;
            &::before{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
                background: #00000060;
                @include border-5;
            }
            >img{
                @include border-5;
            }
        }
    }
    &--info{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        .name--season{
            font-size: 18px;
            font-weight: 900;
            color: $text-white;
            font-weight: 900;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.contact{
    &--hp__bg{
        background: #FBFBFB;
    }
    &--content{
        .col-12{
            padding: 0 7.5px !important;
        }
    }
    &__general{
        width: 100%;
        border: 1px solid #BDBDBD;
        @include border-5;
        padding: 0 10px;
    }
    &--input-text{
        height: 40px;
        line-height: 40px;
    }
    &--textarea{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.contact--submit{
    @include border-5;
    background: $primary;
    border: none;
    cursor: pointer;
    &__mod{
        height: 45px;
        width: 100%;
        text-transform: uppercase;
        font-weight: 900;
        color: $text-white;
    }
}
.footer{
    background: #243238;
    &--list{
        >li:not(:last-child){
            margin-bottom: 10px;
        }
    }
    &--item{
        >span{
            font-weight: 900;
            color: $text-white;
        }
        .icon{
            margin-right: 10px;
        }
    }
    &--panel-head{
        .heading{
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 900;
            padding: 20px 0;
            color: $text-white;
        }
    }
}
.partner{
    &--group{
        .heading-4{
            color: $text-white;
            font-weight: bold;
        }
    }
    &--list{
        >li{
            margin-right: 10px;
            display: inline-block;
            margin-top: 15px;
            :last-child{
                margin-right: 0;
            }
        }
        .images{
            height: 58px;
        }
    }
}
.social{
    &--list{
        >li{
            display: inline-block;
            margin-right: 10px;
            margin-top: 15px;
        }
    }
    &--item{
        display: block;
        height: 35px;
        line-height: 38px;
        width: 35px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: $text-white;
        text-align: center;
        >i{
            font-size: 15px;
        }
        &__facebook{
            >i{
                color: #395795;
            }
        }
        &__twitter{
            >i{
                color: #1C9DEB;
            }
        }
        &__google{
            >i{
                color: #D6463A;
            }
        }
    }
}


.travelGuide--meta{
    margin-bottom: 10px;
}
